<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="icon" type="image/webp" href="/public/logo.webp" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
    />

    <title>{{ filename }}</title>
  </head>
  <body class="graph-background">
    <site-header></site-header>

    <main class="main" style="flex-direction: column; align-items: center">
      <h2
        style="
          font-weight: normal;
          font-size: 3em;
          align-self: flex-start;
          margin-left: 40px;
          margin-bottom: 10px;
        "
      >
        {{ filename }}
      </h2>

      <div class="gist-outer">
        <div class="gist-box">
          <pre
            class="line-numbers"
          ><code class="language-{{ lang }}">{{ code | e }}</code></pre>
        </div>
      </div>
    </main>

    <site-footer></site-footer>

    <script src="/scripts/common.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/styles/line-numbers.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script>
      hljs.highlightAll();
      hljs.initLineNumbersOnLoad();
    </script>
  </body>
</html>
